

.header {
    height: .9rem;
    color: white;
    font-size: .26rem;
    background: linear-gradient(90deg, #7ca9fd, #1bc2c9);
}
.header-center{
    font-size: .36rem;
}
.header-bak {
    font-size: .5rem;
    margin-left: .2rem;
}
.header-fs {
    margin-right: .2rem;
}
.setting-wrap{
    background-color: #f0f0f0;
    padding-top: .2rem;
}
.item{
    padding: .2rem;
    font-size: .26rem;
    background-color: #FFFFFF;

}
.wszl{
    margin-top: .2rem
}
.tips{
    padding: .24rem;
    font-size: .16rem;
}
.bb{
    border-bottom: .01rem solid #f0f0f0;
}