
.header {
    height: .9rem;
    color: white;
    background: linear-gradient(90deg, #7ca9fd, #1bc2c9);
}
.header-center{
    font-size: .36rem;
}
.header-bak {
    font-size: .5rem;
    margin-left: .2rem;
}
.header-fs {
    margin-right: .2rem;
}

