

.header {
    height: .9rem;
    color: white;
    font-size: .26rem;
    background: linear-gradient(90deg, #7ca9fd, #1bc2c9);
}
.header-center{
    font-size: .36rem;
}
.header-bak {
    font-size: .5rem;
    margin-left: .2rem;
}
.header-fs {
    margin-right: .2rem;
}
.txtarea-wrap {
    margin: .2rem;
    position: relative;

}
.txt-label{
    color: #333333;
    font-size: .2rem;
    display: block;
    margin: .22rem 0 .22rem;
}
.textarea{
    display: block;

    width: 100%;
    height: 3rem;
    margin: 0;
    border: .01rem solid gray;
    box-sizing: border-box;

}
.info{
    position: absolute;
    right: .2rem;
    bottom: .5rem;
    font-size: .12rem;

}
.tips{
    color: red;
    font-size: .12rem;
}
.btn-wrap{
    text-align: center;
}
.btn{
    width: 6.3rem;
    height: .6rem;
    border: none;
    margin-top: 1rem;
    color: white;
    background-color: #22c2cf;
}