
body {
    background-color: #f0f0f0;
}
.header {
    height: 3.55rem;
    font-size: .26rem;
    /*background: linear-gradient(90deg, #7ca9fd, #1bc2c9);*/
    overflow: hidden;
    background: url(./img/background.jpg) no-repeat;

}
.nav {
    margin-top: -.5rem;
    height: 1.67rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    background-color: #ffffff
}
.nav-item{
    /*border: 1px solid red;*/
    font-size: .22rem;
    color: #999999;
}

.items li {
    height: 1rem;
    background-color: #FFFFFF;
    color: black;
    font-size: .28rem;
}
.vip {
    margin-top: .1rem;

}
.gxhdy {
    margin-top: .2rem;
    border-bottom: .01rem solid #f0f0f0;
}
.yjfk{
    margin-top: .2rem;
}
.lxwm, .sz {
    margin-top: .1rem
}


.wdbh-logo{
    width: .65rem;
    height: .65rem;
    border-radius: .325rem;
    margin-bottom: .15rem;
    /*border: 1px solid red;*/
    background: url(./img/1.png) no-repeat;
    background-size: contain;
}

.sjrz-logo{
    width: .65rem;
    height: .65rem;
    border-radius: .325rem;
    margin-bottom: .15rem;
    /*border: 1px solid red;*/
    background: url(./img/2.png) no-repeat;
    background-size: contain;
}
.scxm-logo{
    width: .65rem;
    height: .65rem;
    border-radius: .325rem;
    margin-bottom: .15rem;
    /*border: 1px solid red;*/
    background: url(./img/3.png) no-repeat;
    background-size: contain;
}

.icon {
    display: inline-block;
    width: .44rem;
    height: .44rem;
    margin-left: .2rem;
    margin-right: .2rem;
}
.vip .icon {
    background: url(./img/4.png) no-repeat;
    background-size: contain;
}
.gxhdy .icon{
    background: url(./img/5.png) no-repeat;
    background-size: contain;
}
.pjyx .icon {
    background: url(./img/6.png) no-repeat;
    background-size: contain;
}
.yjfk .icon {
    background: url(./img/7.png) no-repeat;
    background-size: contain;
}
.lxwm .icon {
    background: url(./img/8.png) no-repeat;
    background-size: contain;
}
.sz .icon {
    background: url(./img/9.png) no-repeat;
    background-size: contain;
}
.hcontent {
    margin-top: 1rem;
    height: 1.45rem;
    /*border: .01rem solid red;*/
}
.logo-wrap {
    width: 2rem;
    /*border: .01rem solid red;*/
    height: 100%;
}
.avatar {
    width: 1.45rem;
    height: 1.45rem;
    /*border: .01rem solid red;*/
    border-radius: .725rem;
    overflow: hidden;
}
.hmsg {
    width: 5.5rem;
    /*border: .01rem solid red;*/
    color: white;
}
.huser{
    font-size: .30rem;
}
.utype{
    font-size: .23rem;
}
.hbecome{
    font-size: .16rem;
    padding: .05rem .25rem;
    margin-right: .4rem;
    background-color: orangered;
}
.uknow{
    font-size: .16rem;
    margin-right: .4rem;
}
.cert{
    display: inline-block;
    height: .35rem;
    width: .35rem;
    vertical-align: text-top;
    background: url(./img/cert.png) no-repeat;
    background-size: contain;

}
.vip-icon{
    display: inline-block;
    height: .35rem;
    width: .35rem;
    vertical-align: text-bottom;
    background: url(./img/VIP.png) no-repeat;
    background-size: contain;
}
.why-icon{
    display: inline-block;
    height: .35rem;
    width: .35rem;
    vertical-align: middle;
    background: url(./img/why.png) no-repeat;
    background-size: contain;
}