
.header {
    height: .9rem;
    color: white;
    background: linear-gradient(90deg, #7ca9fd, #1bc2c9);
}
.header-center{
    font-size: .36rem;
}
.header-bak {
    font-size: .5rem;
    margin-left: .2rem;
}
.header-fs {
    margin-right: .2rem;
}

.logo{
    height: 2.73rem
}
.logo-img{
    height: 1.51rem
}

.item {
    font-size: .26rem;
    padding: .25rem;
    border-bottom: .01rem solid #eeeeee;
}
.item-name {
    color: #333333;

}
.khdh {
    width: .3rem;
    height: .3rem;
    vertical-align: middle;
    margin-right: .1rem;

    display: inline-block;
    background: url(./img/1.png) no-repeat;
    background-size: contain;
}

.gfwz {
    width: .3rem;
    height: .3rem;
    vertical-align: middle;
    margin-right: .1rem;

    display: inline-block;
    background: url(./img/2.png) no-repeat;
    background-size: contain;
}

.qyyx {
    width: .3rem;
    height: .3rem;
    vertical-align: middle;
    margin-right: .1rem;
    display: inline-block;
    background: url(./img/3.png) no-repeat;
    background-size: contain;
}

.gzh {
    width: .3rem;
    height: .3rem;
    vertical-align: middle;
    margin-right: .1rem;

    display: inline-block;
    background: url(./img/4.png) no-repeat;
    background-size: contain;
}

.lxdz {
    width: .3rem;
    height: .3rem;
    vertical-align: middle;
    margin-right: .1rem;

    display: inline-block;
    background: url(./img/5.png) no-repeat;
    background-size: contain;
}