
body{
    background-color: #f0f0f0;
}
.header {
    height: .9rem;
    color: white;
    font-size: .26rem;
    background: linear-gradient(90deg, #7ca9fd, #1bc2c9);
}
.header-center{
    font-size: .36rem;
}
.header-bak {
    font-size: .5rem;
    margin-left: .2rem;
}
.header-fs {
    margin-right: .2rem;
}
.title{
    height: 1rem;
    font-size: .33rem;
    font-weight: bolder;

}
.head-section{

    width: 5.5rem;
    height: 2.75rem;
    background-color: white;
    margin: 0 auto;
}
.h-item{
    border-bottom: .01rem solid #f8f8f8;
    padding-left: .4rem;
}
.logo{
    height: 1.72rem;
    margin-top: .2rem;
    background: url("./img/adv.jpg") no-repeat;
    background-size: 100%;
}

.section{
    background-color: white;
    padding: .2rem 0;
    display: inline-block;
}
.sect-ct{
    width: 5rem;
    height: 1.31rem
}